<div class="et_pb_section esej-cta-section8 et_pb_with_background et_section_regular">
<div class="et_pb_row esej-cta-row7 et_animated">
<div class="et_pb_column et_pb_column_4_4 esej-cta-column12 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-cta-text8 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h2>{{titre}}</h2></div>
</div>
</div>
</div><div class="et_pb_row esej-cta-row8">
<div class="et_pb_column et_pb_column_4_4 esej-cta-column13 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-cta-text9 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner"><p>{{texte}}</p></div>
</div>
</div>
</div><div class="et_pb_row esej-cta-row9">
<div class="et_pb_column et_pb_column_4_4 esej-cta-column14 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module">
<a class="et_pb_button esej-cta-button0 et_animated et_hover_enabled et_pb_bg_layout_light" data-icon="E" href="{{lien}}">{{bouton}}</a>
</div>
</div>
</div>
</div>
