<div class="et_pb_section esej-image_texte-section3 et_pb_with_background et_section_regular">
<div class="et_pb_row esej-image_texte-row3">
<div class="et_pb_column et_pb_column_1_2 esej-image_texte-column5 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_module et_pb_image esej-image_texte-image1 et_animated et-waypoint">
<span class="et_pb_image_wrap"><img alt="{{image_alt}}" loading="lazy" src="{{image}}" title=""/></span>
</div>
</div><div class="et_pb_column et_pb_column_1_2 esej-image_texte-column6 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-image_texte-text3 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h3><span style="color: #010133;">{{titre}} </span><span style="color: #e5ae47;">{{titre_accent}}</span></h3>{{{texte}}}</div>
</div>
</div>
</div>
</div>
