<div class="et_pb_section esej-intro-section1 et_animated et_pb_with_background et_section_regular" style="background-image: url({{image_fond}});">
<div class="et_pb_row esej-intro-row1">
<div class="et_pb_column et_pb_column_2_3 esej-intro-column1 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_module et_pb_text esej-intro-text1 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h2><span style="color: #010133;">{{titre}} </span><span style="color: #e5ae47;">{{titre_accent}}</span></h2>{{{texte}}}</div>
</div>
</div><div class="et_pb_column et_pb_column_1_3 esej-intro-column2 et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
</div>
</div>
</div>
