<div class="et_pb_row esej-promos-row2" style="margin-top:{{marge}}">
<div class="et_pb_column et_pb_column_1_2 esej-promos-column3 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_module et_pb_text esej-promos-text2 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><p>{{numero}}</p></div>
</div><div class="et_pb_module esej-promos-cta0 et_animated et_hover_enabled et_pb_promo et_pb_text_align_left et_pb_bg_layout_light et_pb_no_bg">
<div class="et_pb_promo_description"><h2 class="et_pb_module_header">{{titre}}</h2><div>{{{texte}}}</div></div>
</div>
</div><div class="et_pb_column et_pb_column_1_2 esej-promos-column4 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_image esej-promos-image0 et_animated et-waypoint">
<span class="et_pb_image_wrap"><img alt="{{image_alt}}" src="{{image}}" title=""/></span>
</div>
</div>
</div>
