<div class="et_pb_section esej-accueil-section0 et_animated et_section_regular">
<div class="et_pb_row esej-accueil-row0 et_pb_row_fullwidth et_animated et_pb_equal_columns et_pb_gutters1">
<div class="et_pb_column et_pb_column_1_2 esej-accueil-column0 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_module et_pb_text esej-accueil-text0 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h1><span style="color: #ffffff;">{{hero_titre}}</span><br/><span style="color: #e5ae47;">{{hero_titre_accent}}</span></h1></div>
</div><div class="et_pb_module et_pb_text esej-accueil-text1 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner">{{{hero_texte}}}</div>
</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_module">
<a class="et_pb_button esej-accueil-button0 et_animated et_hover_enabled et_pb_bg_layout_light" data-icon="E" href="{{hero_lien}}">{{hero_bouton}}</a>
</div>
</div><div class="et_pb_column et_pb_column_1_2 esej-accueil-column1 et_pb_section_parallax et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
<span class="et_parallax_bg_wrap"><span class="et_parallax_bg" style="background-image: url({{hero_image}});"></span></span>
</div>
</div>
</div><div class="et_pb_section esej-accueil-section1 et_section_regular">
<div class="et_pb_row esej-accueil-row1 et_animated">
<div class="et_pb_column et_pb_column_4_4 esej-accueil-column2 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-accueil-text2 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h2><span style="color: #e5ae47;">{{zoom_titre}}</span></h2></div>
</div><div class="et_pb_module et_pb_text esej-accueil-text3 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner">{{{zoom_texte}}}</div>
</div>
</div>
</div><div class="et_pb_row esej-accueil-row2 et_pb_equal_columns et_pb_gutters2">
<div class="et_pb_column et_pb_column_1_3 esej-accueil-column3 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_with_border et_pb_module et_pb_blurb esej-accueil-blurb0 et_animated et_pb_text_align_center et_pb_blurb_position_top et_pb_bg_layout_light">
<div class="et_pb_blurb_content">
<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon"></span></span></div>
<div class="et_pb_blurb_container">
<h4 class="et_pb_module_header"><span>{{atout1_titre}}</span></h4>
<div class="et_pb_blurb_description">{{{atout1_texte}}}</div>
</div>
</div>
</div>
</div><div class="et_pb_column et_pb_column_1_3 esej-accueil-column4 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_with_border et_pb_module et_pb_blurb esej-accueil-blurb1 et_animated et_pb_text_align_center et_pb_blurb_position_top et_pb_bg_layout_light">
<div class="et_pb_blurb_content">
<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon"></span></span></div>
<div class="et_pb_blurb_container">
<h4 class="et_pb_module_header"><span>{{atout2_titre}}</span></h4>
<div class="et_pb_blurb_description">{{{atout2_texte}}}</div>
</div>
</div>
</div>
</div><div class="et_pb_column et_pb_column_1_3 esej-accueil-column5 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_with_border et_pb_module et_pb_blurb esej-accueil-blurb2 et_animated et_pb_text_align_center et_pb_blurb_position_top et_pb_bg_layout_light">
<div class="et_pb_blurb_content">
<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap"><span class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone et-pb-icon"></span></span></div>
<div class="et_pb_blurb_container">
<h4 class="et_pb_module_header"><span>{{atout3_titre}}</span></h4>
<div class="et_pb_blurb_description">{{{atout3_texte}}}</div>
</div>
</div>
</div>
</div>
</div>
</div><div class="et_pb_section esej-accueil-section2 et_pb_with_background et_section_regular">
<div class="et_pb_row esej-accueil-row3 et_animated">
<div class="et_pb_column et_pb_column_4_4 esej-accueil-column6 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-accueil-text4 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h2>{{photos_titre}}</h2></div>
</div><div class="et_pb_module et_pb_text esej-accueil-text5 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner">{{{photos_texte}}}</div>
</div>
</div>
</div>
</div><div class="et_pb_section esej-accueil-section3 et_pb_specialty_fullwidth et_pb_equal_columns et_pb_with_background et_section_specialty">
<div class="et_pb_row et_pb_gutters1">
<div class="et_pb_column et_pb_column_1_2 esej-accueil-column7 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_module et_pb_image esej-accueil-image0 et_animated et-waypoint et_pb_has_overlay">
<a class="et_pb_lightbox_image" href="{{photo1}}" title=""><span class="et_pb_image_wrap has-box-shadow-overlay"><div class="box-shadow-overlay"></div><img alt="{{photo1_alt}}" src="{{photo1}}" title=""/><span class="et_overlay"></span></span></a>
</div>
</div><div class="et_pb_column et_pb_column_1_2 esej-accueil-column8 et_pb_specialty_column et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_row_inner esej-accueil-rowinner0">
<div class="et_pb_column et_pb_column_4_4 et_pb_column_inner esej-accueil-columninner0 et-last-child">
<div class="et_pb_module et_pb_image esej-accueil-image1 et_animated et-waypoint et_pb_has_overlay">
<a class="et_pb_lightbox_image" href="{{photo2}}" title=""><span class="et_pb_image_wrap has-box-shadow-overlay"><div class="box-shadow-overlay"></div><img alt="{{photo2_alt}}" loading="lazy" src="{{photo2}}" title=""/><span class="et_overlay"></span></span></a>
</div>
</div>
</div><div class="et_pb_row_inner esej-accueil-rowinner1">
<div class="et_pb_column et_pb_column_1_4 et_pb_column_inner esej-accueil-columninner1">
<div class="et_pb_module et_pb_image esej-accueil-image2 et_animated et-waypoint et_pb_has_overlay">
<a class="et_pb_lightbox_image" href="{{photo3}}" title=""><span class="et_pb_image_wrap has-box-shadow-overlay"><div class="box-shadow-overlay"></div><img alt="{{photo3_alt}}" loading="lazy" src="{{photo3}}" title=""/><span class="et_overlay"></span></span></a>
</div>
</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_inner esej-accueil-columninner2 et-last-child">
<div class="et_pb_module et_pb_image esej-accueil-image3 et_animated et-waypoint et_pb_has_overlay">
<a class="et_pb_lightbox_image" href="{{photo4}}" title=""><span class="et_pb_image_wrap has-box-shadow-overlay"><div class="box-shadow-overlay"></div><img alt="{{photo4_alt}}" loading="lazy" src="{{photo4}}" title=""/><span class="et_overlay"></span></span></a>
</div>
</div>
</div>
</div>
</div>
</div><div class="et_pb_section esej-accueil-section4 et_pb_with_background et_section_regular">
<div class="et_pb_row esej-accueil-row4">
<div class="et_pb_column et_pb_column_4_4 esej-accueil-column9 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-accueil-text6 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner">{{{mission_texte}}}</div>
</div>
</div>
</div>
</div><div class="et_pb_section esej-accueil-section6 et_pb_with_background et_section_regular">
<div class="et_pb_row esej-accueil-row5 et_animated">
<div class="et_pb_column et_pb_column_4_4 esej-accueil-column10 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-accueil-text7 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h2>{{cta_titre}}</h2></div>
</div>
</div>
</div><div class="et_pb_row esej-accueil-row6">
<div class="et_pb_column et_pb_column_4_4 esej-accueil-column11 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-accueil-text8 et_animated et_pb_text_align_center et_pb_bg_layout_light">
<div class="et_pb_text_inner"><p>{{cta_texte}}</p></div>
</div>
</div>
</div><div class="et_pb_row esej-accueil-row7">
<div class="et_pb_column et_pb_column_4_4 esej-accueil-column12 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module">
<a class="et_pb_button esej-accueil-button1 et_animated et_hover_enabled et_pb_bg_layout_light" data-icon="E" href="{{cta_lien}}">{{cta_bouton}}</a>
</div>
</div>
</div>
</div>
