<div class="et_pb_section esej-texte_image_fonce-section2 et_pb_with_background et_section_regular">
<div class="et_pb_row esej-texte_image_fonce-row2">
<div class="et_pb_column et_pb_column_1_2 esej-texte_image_fonce-column3 et_pb_css_mix_blend_mode_passthrough">
<div class="et_pb_module et_pb_text esej-texte_image_fonce-text2 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h3><span style="color: #010133;">{{titre}} </span><span style="color: #ffffff;">{{titre_accent}}</span></h3>{{{texte}}}</div>
</div>
</div><div class="et_pb_column et_pb_column_1_2 esej-texte_image_fonce-column4 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_image esej-texte_image_fonce-image0 et_animated et-waypoint">
<span class="et_pb_image_wrap"><img alt="{{image_alt}}" src="{{image}}" title=""/></span>
</div>
</div>
</div>
</div>
