<div class="et_pb_section esej-texte-section4 et_pb_with_background et_section_regular">
<div class="et_pb_row esej-texte-row4">
<div class="et_pb_column et_pb_column_4_4 esej-texte-column7 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-texte-text4 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h3><span style="color: #010133;">{{titre}} </span><span style="color: #e5ae47;">{{titre_accent}}</span></h3>{{{texte}}}</div>
</div>
</div>
</div>
</div>
