<div class="et_pb_section esej-titre-section0 et_animated et_pb_with_background et_section_regular">
<div class="et_pb_row esej-titre-row0 et_animated">
<div class="et_pb_column et_pb_column_4_4 esej-titre-column0 et_pb_css_mix_blend_mode_passthrough et-last-child">
<div class="et_pb_module et_pb_text esej-titre-text0 et_animated et_pb_text_align_left et_pb_bg_layout_light">
<div class="et_pb_text_inner"><h1><span style="color: #021d51;">{{titre}} </span><span style="color: #e5ae47;">{{titre_accent}}</span></h1></div>
</div><div class="et_pb_module esej-titre-divider0 et_animated et_pb_space et_pb_divider_hidden"><div class="et_pb_divider_internal"></div></div>
</div>
</div>
</div>
